<mat-sidenav-container class="example-container">
    <mat-sidenav class="sideTitle dark-sidenav mat-elevation-z4" mode="side" opened [@changeWidth]="currentState">


        <button mat-button id="sidebarCollapse" class="menu " (click)="changeState()" clear>
                            <span class="menuLine light-primary-color" [@changeFirst]="currentState"></span>
                            <span  class="menuLine light-primary-color" [@changeSecond]="currentState"></span>
                            <span  class="menuLine light-primary-color" [@changeThird]="currentState"></span>
        </button>

        <div class="menu-items">
            <span class="mat-button-wrapper">
    
                    <a mat-button class="sidenav_button list-button" href='./home' clear>
                        <mat-icon svgIcon="school"></mat-icon>
                     <span [@changeMenu]="currentState" class="portaltext text-primary-color">Learning Portal</span>
            </a>

            <a mat-button class="sidenav_button module-button" href="./results">
                <mat-icon svgIcon="chart-bar"></mat-icon>
                <span [@changeMenu]="currentState " class="resultstext text-primary-color">My Results</span>
            </a>
            </span>
        </div>
        <!--  <div class="menu-footer ">
                    <img class="imageLogo " src="../../../assets/mim.png ">
                </div>
     -->
    </mat-sidenav>

    <mat-sidenav-content class="mat-drawer-content " [@changeWidth2]="currentState ">


        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>