<header class="headdisplay mat-elevation-z4">
    <a mat-href="/login">
        <mat-icon svgIcon="arrow-left"></mat-icon>Admin Login</a>
    <img class="hero" src='../../assets/hero.png' />
    <img [@flyUpDown]="portalText" class="portal" src='../../assets/LearningPortal.png' />
    <img [@flyInOut]="pathHero" class="pathTitle" src="{{pathImg}}">

</header>
<div *ngIf="currentPaths">

    <div class="bodydisplay">

        <mat-grid-list cols="12" rowHeight="40px" [gutterSize]="'40px'">

            <mat-grid-tile class="text" [colspan]="4" [rowspan]="8">
                <img class="logo" src="../../assets/MIMlogo2.png" />


                <p class="primary-text-color"> All New Hires are required to take and successfully pass a series of pre-employment certifipathions before they may begin work at Material In Motion. <br>
                    <br> Before we begin...<br></p>
                <br>
                <blockquote class="primary-text-color"><strong>1.</strong> Select your Learning Path on the right of the screen<br>
                    <br> <strong>2.</strong> Review your Certifipathions Guidelines. These intructions will appear in this section for each Learning Path<br>
                    <br> <strong>3.</strong> There is a time limit set for each learning path. You must complete the training within the set time frame<br>
                    <br> <strong>4.</strong> Click “Check Your Scores” at any time to view your results for each test</blockquote><br>
                <br>
                <p class="primary-text-color"> Please see a member of staff if you have problems with the certifipathions. Let’s get started!</p>

            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="8">
                &nbsp;
            </mat-grid-tile>
            <div class="pathGrid" *ngFor="let path of paths">

                <mat-grid-tile class="pathTiles" (click)='selectPath(path.name)' [ngValue]="path" (click)="upDown()" (click)="inOut()" [colspan]="3" [rowspan]="3">
                    <img class="tileImgs" src="{{path.img}}" />
                </mat-grid-tile>

            </div>




        </mat-grid-list>

    </div>
</div>

<div *ngIf="!currentpaths">

    <div class="bodydisplay">

        <mat-grid-list cols="12" rowHeight="40px" [gutterSize]="'40px'">

            <mat-grid-tile class="text" [colspan]="4" [rowspan]="8">
                <img class="logo" src="../../assets/MIMlogo2.png" />


                <p class="primary-text-color"> All New Hires are required to take and successfully pass a series of pre-employment certifipathions before they may begin work at Material In Motion. <br>
                    <br> Before we begin...<br></p>
                <br>
                <blockquote class="primary-text-color"><strong>1.</strong> Select your Learning Path on the right of the screen<br>
                    <br> <strong>2.</strong> Review your Certifipathions Guidelines. These intructions will appear in this section for each Learning Path<br>
                    <br> <strong>3.</strong> There is a time limit set for each learning path. You must complete the training within the set time frame<br>
                    <br> <strong>4.</strong> Click “Check Your Scores” at any time to view your results for each test</blockquote><br>
                <br>
                <p class="primary-text-color"> Please see a member of staff if you have problems with the certifipathions. Let’s get started!</p>

            </mat-grid-tile>
            
            <div class="certGrid">
                <button mat-icon-button (click)="selectPaths()" (click)="upDown()" (click)="inOut()" clear>

                                    <mat-icon svgIcon="arrow-left"></mat-icon>Back</button>
                <div *ngIf="certTypes">
                    <div *ngFor="let certType of certTypes">
                        <mat-grid-tile class="certs" [colspan]="4" [rowspan]="6">

                            <mat-card class="pathTiles mat-elevation-z4" style="background: white;">
                                <mat-card-title>
                                    <h3>{{certType.name}}</h3>
                                </mat-card-title>
                                <mat-card-content>
                                    <ul>
                                        <div *ngIf="generalCerts">
                                            <div *ngFor="let generalCert of generalCerts">
                                                <li><button class="certButton">{{generalCert.module}}</button>
                                                    <a class="certLink" href="{{generalCert.link}}">{{generalCert.topic}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div *ngIf="manufacturingCerts">
                                            <div *ngFor="let generalCert of generalCerts">
                                                <li><button class="certButton">{{generalCert.module}}</button>
                                                    <a class="certLink" href="{{generalCert.link}}">{{generalCert.topic}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div *ngIf="specialtyCerts">
                                            <div *ngFor="let generalCert of generalCerts">
                                                <li><button class="certButton">{{generalCert.module}}</button>
                                                    <a class="certLink" href="{{generalCert.link}}">{{generalCert.topic}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div *ngIf="learningCerts">
                                            <div *ngFor="let generalCert of generalCerts">
                                                <li><button class="certButton">{{generalCert.module}}</button>
                                                    <a class="certLink" href="{{generalCert.link}}">{{generalCert.topic}}</a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </mat-card-content>
                            </mat-card>

                        </mat-grid-tile>
                    </div>
                </div>
                <mat-grid-tile class="back" [colspan]="6" [rowspan]="1">
                    &nbsp;
                </mat-grid-tile>
            </div>


        </mat-grid-list>

    </div>
</div>